img {
    -webkit-user-select: none;  /* Safari */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;       /* Standard syntax */
    -webkit-user-drag: none;    /* Prevent dragging in WebKit browsers */
    pointer-events: none;       /* Optional: prevents interactions like clicking */
    text-decoration: none;
}